$cell : 0.144;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    background-color: #131313;
}

.instructions {
    h2 {
        font-weight: 400;
        text-align: center;
        display: none;

        span {
            font-weight: 500;
        }
    }

    .yellow {
        color: #ffae00;
    }

    .red {
        color: #ff0000;
    }
}

.game-space {
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    border: #002ae0 1rem solid;
    border-radius: 10px;

    img {
        height: $cell * 70vh;
        width: auto;

        &.board-piece {
            cursor: pointer;
        }

        &.chip {
            height: $cell * 70vh * 90/100;
            opacity: 0;
            z-index: -1;
        }

        @for $i from 1 through 6 {
            @for $j from 1 through 7 {
                &:nth-child(#{($i - 1) * 7 + $j}) {
                    grid-column: $j;
                    grid-row: $i;
                }

                &:nth-child(#{($i - 1) * 7 + $j + 42}) {
                    grid-column: $j;
                    grid-row: $i;
                }

                &:nth-child(#{($i - 1) * 7 + $j + 84}) {
                    grid-column: $j;
                    grid-row: $i;
                }
            }
        }
    }
}