$cell : 0.144;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
}

main {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas: 
        "instructions instructions instructions"
        "score1         gamespace          score2";
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 50px;

    @media screen and (max-width: 1000px) {
        
    grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas: 
        "instructions  instructions"
        "score1              score2"
        "gamespace        gamespace";
    }
}

.yellow {
    color: #ffae00;
}

.red {
    color: #ff0000;
}

.instructions {
    grid-area: instructions;
    display: grid;

    h2 {
        font-size: 3rem;
        line-height: 0.8em;
        font-weight: 400;
        text-align: center;
        opacity: 0;
        grid-column: 1;
        grid-row: 1;
        z-index: -1;

        @media screen and (max-width: 1000px) {
            font-size: 2rem;
        }

        span {
            font-weight: 500;

            &.rematch {
                font-size: 0.5em;
                font-weight: 400;
                opacity: 0.7;
                text-decoration: underline;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1000px) {
        font-size: 1rem;
    }

    &--value {
        font-size: 4rem;

        @media screen and (max-width: 1000px) {
            font-size: 2rem;
        }
    }

    &:nth-child(2) {
        grid-area: score1;
    }

    &:nth-child(3) {
        grid-area: score2;
    }
}

.game-space {
    display: grid;
    height: fit-content;
    width: fit-content;
    grid-template-columns: repeat(7, min-content);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    border: #002ae0 1rem solid;
    border-radius: 10px;
    grid-area: gamespace;

    img {
        height: $cell * 50vw;
        max-height: $cell * 800px;
        width: auto;

        @media screen and (max-width: 1000px) {
            height: $cell * 80vw;
        }

        &.board-piece {
            cursor: pointer;
        }

        &.chip {
            max-height: $cell * 50vw * 90/100;
            max-height: $cell * 800px * 90/100;
            opacity: 0;
            z-index: -1;
            
            @media screen and (max-width: 1000px) {
                height: $cell * 80vw * 90/100;
            }
        }

        @for $i from 1 through 6 {
            @for $j from 1 through 7 {
                &:nth-child(#{($i - 1) * 7 + $j}) {
                    grid-column: $j;
                    grid-row: $i;
                }

                &:nth-child(#{($i - 1) * 7 + $j + 42}) {
                    grid-column: $j;
                    grid-row: $i;
                }

                &:nth-child(#{($i - 1) * 7 + $j + 84}) {
                    grid-column: $j;
                    grid-row: $i;
                }
            }
        }
    }
}